<div class="background">
    <div class="products">
    <div class="product">
        <img src="https://www.lastprice.co.il/uploadimages/Oculus-Quest-2-128GB.jpg"/>
        <h4> VR Oculus Quest 2 </h4>
       </div>
       <div class="product">
        <img src="https://www.lastprice.co.il/uploadimages/Oculus-Quest-2-128GB.jpg"/>
        <h4> VR Oculus Quest 2 </h4>
       </div>
       <div class="product">
        <img src="https://www.lastprice.co.il/uploadimages/Oculus-Quest-2-128GB.jpg"/>
        <h4> VR Oculus Quest 2 </h4>
       </div>
       <div class="product">
        <img src="https://www.lastprice.co.il/uploadimages/Oculus-Quest-2-128GB.jpg"/>
        <h4> VR Oculus Quest 2 </h4>
       </div>
    </div>
</div>
