<div class="background">
    <div class="products">
    <div class="product">
        <!-- <button (click)="increase()"> + </button>
        <button (click)="reset()"> reset</button>
        <button (click)="decrease()"> - </button> -->
        <button (mouseover) = "bigImgVR()" (mouseleave)="mouseOut()">
        <img style="width: 100px;" src="https://www.lastprice.co.il/uploadimages/Oculus-Quest-2-128GB.jpg"/>
    </button>
        <h4> VR Oculus Quest 2 </h4>
       </div>
       <div class="product"> 
        <button (mouseover) =  "bigImgSher()" (mouseleave)="mouseOut()">
        <img style="width: 100px;height: 100px;" src="https://books.google.co.il/books/content?id=FTeJtAEACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73sPnTloypGp5niEKGIgzvjCgZSlJsYfXnDcVzoGHmjPqVyucTeSRdp9fBed-IbJc26dJstmoiLA3la6OflOx1_HEoh-Np_3FObrgcBNNEE0cmSdCdSruPpq4M_DuZUQjqaJjMB" />
        </button>
        <h4> Shelock Holmes </h4>
       </div>
       <div class="product">
        <button (mouseover) =  "bigImgTele()" (mouseleave)="mouseOut()">
        <img style="width: 100px;" src="https://nimax-img.de/Produktbilder/zoom/19195_20/Celestron-Telescope-AC-60-700-LCM-GoTo.jpg"/>
        </button>
        <h4> Telescope </h4>
       </div>
       <div class="product">
        <button (mouseover) =  "bigImgWatch()" (mouseleave)="mouseOut()">
        <img style="width: 100px;" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQ0KhhW87SjMpAy_PTuboZHrWvD9xrEyKXywwX_thH0fa7hb2ldKXfcontD3nElnMaL9cf2H6IbaJv03HCqoIqFe74QbGq3s844P1RsSabJaYRMJAZrbXRulQ&usqp=CAE"/>
        </button>
        <h4> Smart Watch </h4>
       </div>
    </div>
    <div class="bigImg" *ngIf="showVR==true">
        <img  [height]="imgHeight" [width]="imgWidth" src="https://www.lastprice.co.il/uploadimages/Oculus-Quest-2-128GB.jpg"/>
    </div>
    <div class="bigImg" *ngIf="showSherlock==true">
        <img  [height]="imgHeight" [width]="imgWidth" src="https://books.google.co.il/books/content?id=FTeJtAEACAAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73sPnTloypGp5niEKGIgzvjCgZSlJsYfXnDcVzoGHmjPqVyucTeSRdp9fBed-IbJc26dJstmoiLA3la6OflOx1_HEoh-Np_3FObrgcBNNEE0cmSdCdSruPpq4M_DuZUQjqaJjMB"/>
    </div>
    <div class="bigImg" *ngIf="showTele==true">
        <img  [height]="imgHeight" [width]="imgWidth" src="https://nimax-img.de/Produktbilder/zoom/19195_20/Celestron-Telescope-AC-60-700-LCM-GoTo.jpg"/>
    </div>
    <div class="bigImg" *ngIf="showWatch==true">
        <img  [height]="imgHeight" [width]="imgWidth" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQ0KhhW87SjMpAy_PTuboZHrWvD9xrEyKXywwX_thH0fa7hb2ldKXfcontD3nElnMaL9cf2H6IbaJv03HCqoIqFe74QbGq3s844P1RsSabJaYRMJAZrbXRulQ&usqp=CAE"/>
    </div>
</div>
