.menu{
    height: 250px;
    background-color: rgb(92, 88, 108);
    color: white;
    padding : 50px;
    width: 200px;
    position: absolute;
    top:150px;
    left:10px;
    border-radius: 10%;
}
h3
{
    margin: 15px;
    padding: 10px;
}